body {
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
#controls button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: calc(50% - 10px); /* Aide pour l'affichage mobile */
    box-sizing: border-box;
}
#lecteurYoutube {
    margin-top: 20px;
}
#complement-btn {
    display: block;
    margin: 10px auto;
    color: #007bff;
    text-decoration: none;
}
